/* styles.css */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 1em;
    background-color: #000;
    color: #ccc;
  }
  
  h1, h2, h3 {
    color: #fff;
  }
  
  ul {
    padding-left: 1.5em;
  }
  
  li {
    margin-bottom: 0.3em;
  }